<div id="about-content">
    <mat-card class="tools-card mat-elevation-z5">
        <h1>About</h1>
        <mat-card-content>
            <p>
                Having grown up in a family of DIYers, I've always been fascinated with inventing new and creative ways to solve everyday problems.  I decided to enroll in a nine-month Software Engineering Bootcamp to learn how to channel this fascination into creating software solutions.  Today, I am a software engineer constantly seeking innovative solutions to real-world problems.
            </p>
        </mat-card-content>
    </mat-card>
</div>
