@media screen and (min-width: 960px) {
    #about-content {
        width: 910px;
    }
}

@media screen and (max-width: 959px) {
    #about-content {
        width: 90%;
    }
}

#about-content {
    margin: auto;
    position: inherit;
}
