<div id="about-content">
    <mat-card class="tools-card mat-elevation-z5">
        <h1>About</h1>
        <mat-card-content>
            <p>
                Having grown up with a family of DIYers, I've always been obsessed with inventing creative ways to solve everyday obstacles. So I decided to enroll in a nine-month Software Engineering Bootcamp to learn how to channel this obsession into creating software solutions. Today, I am a software engineer constantly seeking new and innovative ways to solve real-world problems.  
            </p>
        </mat-card-content>
    </mat-card>
</div>
