#project-content {
    margin: auto;
    position: inherit;
    width: 900px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.project-card {
    width: 300px;
    height: 150px;
    cursor: pointer;
}
