<div class="project-content">
    <mat-card>
        <mat-card-title>Projects</mat-card-title>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let project of projects">
                <mat-card class="project-card" (click)="onClick(project.html_url)">
                    <mat-card-content>
                        <h1>{{project.name}}</h1>
                        <p>{{project.description}}</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
          </mat-grid-list>   
    </mat-card>
</div>
