#project-content {
    margin: auto;
    position: inherit;
    width: 900px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.project-card {
    max-width: 400px;
    margin-bottom: 10px;
    cursor: pointer;
}

.title {
    margin-bottom: 10px;
}
