@media screen and (min-width: 960px) {
    #contact-content {
        width: 910px;
    }
}

@media screen and (max-width: 959px) {
    #contact-content {
        width: 90%;
    }
}

#contact-content {
    margin: auto;
    position: inherit;
}

.email-card {
    margin: auto;
    width: fit-content;
}

.title {
    margin-bottom: 20px;
}
