<div class="main">
  <img src="https://portfolio-profile-pics.s3.us-west-1.amazonaws.com/teahub.io-white-minimalist-wallpaper-957055.png" class="bg">
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="profile">
    <app-profile></app-profile>
  </div>
  <div id="about">
    <app-about></app-about>
  </div>
  <hr _ngcontent-jja-c8="">
  <div class="tools">
    <app-tools></app-tools>
  </div>
  <hr _ngcontent-jja-c8="">
  <div class="projects">
    <app-projects></app-projects>
  </div>
  <hr _ngcontent-jja-c8="">
  <div class="contact">
    <app-contact></app-contact>
  </div>
</div>
