<div id="tools-content">
    <mat-card>
        <mat-card-title>Tools</mat-card-title>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card class="tools-card mat-elevation-z5">
                    <mat-card-content>
                        <h1>Languages</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="tools-card mat-elevation-z5">
                    <mat-card-content>
                        <h1>Deployment</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="tools-card mat-elevation-z5">
                    <mat-card-content>
                        <h1>Front End</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="tools-card mat-elevation-z5">
                    <mat-card-content>
                        <h1>Back End</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>
