@media screen and (min-width: 960px) {
    .mobile {
        display: none;
    }

    #tools-content {
        width: 910px;
    }

    .tools-card {
        width: 400px;
    }
}

@media screen and (max-width: 959px) {
    .desktop {
        display: none;
    }

    #tools-content {
        width: 90%;
    }

    .tools-card {
        width: 90%;
    }
}

#tools-content {
    margin: auto;
    position: inherit;
    padding-top: 80px;
    padding-bottom: 80px;
}

.tools-icon {
    padding: 0px 10px 0px 10px;
}

.tools-card {
    height: 150px;
}

.title {
    margin-bottom: 10px;
}
