#tools-content {
    margin: auto;
    position: inherit;
    width: 900px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.tools-icon {
    padding: 0px 5px 0px 5px;
}

.tools-card {
    width: 300px;
    height: 150px;
}
