<div>
    <mat-toolbar class="mat-elevation-z8 nav-bar" color="primary">
        <div class="links">
            <button class="nav-btn" mat-button onclick="document.getElementById('profile').scrollIntoView();">Home</button>
            <button class="nav-btn" mat-button onclick="document.getElementById('tools-content').scrollIntoView();">Tools</button>
            <button class="nav-btn" mat-button onclick="document.getElementById('project-content').scrollIntoView();">Projects</button>
            <button class="nav-btn" mat-button onclick="document.getElementById('contact-content').scrollIntoView();">Contact</button>
            <a href="https://www.linkedin.com/in/nathan-quiocson/" target="_blank">
                <button class="nav-btn" mat-button>LinkedIn</button>
            </a>
            <a href="https://github.com/nathanq95" target="_blank">
                <button class="nav-btn" mat-button>GitHub</button>
            </a>
            <a href="https://portfolio-site-files.s3.us-west-1.amazonaws.com/Nathanael+Quiocson.pdf" target="_blank">
                <button class="nav-btn" mat-button>Resume</button>
            </a>
        </div>
      </mat-toolbar>
</div>
