@media screen and (min-width: 960px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 959px) {
    .desktop {
        display: none;
    }

    .nav-icon {
        padding: 10px;
    }
    
    .nav-icons {
        padding-top: 5px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.nav-bar {
    background: #3f51b5;
    color: #fff;
    position: fixed;
    top: 0;
}

.links {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-btn {
    padding: 0px 45px 0px 45px;
    color: #fff;
}
