#profile {
    max-width: 960px;
    margin: auto;
    padding-top: 25px;
    height: 370px;
}

img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

p {
    text-align: center;
    padding-top: 7px;
}

mat-card.mat-card.mat-focus-indicator {
    width: 400px;
    text-align: center;
    margin: 145px auto auto -95px;
    float: right;
    position: inherit;
}
