@media screen and (min-width: 960px) {
    .mobile {
        display: none;
    }

    mat-card.mat-card.mat-focus-indicator {
        margin: 145px auto auto -95px;
        float: right;
    }

    #profile {
        max-width: 960px;
        padding-top: 25px;
        height: 370px;
    }

    img {
        border-radius: 50%;
        width: 350px;
        height: 350px;
        margin: auto;
        margin-right: 0px;
        display: block;
    }
}

@media screen and (max-width: 959px) {
    .desktop {
        display: none;
    }

    #profile {
        width: 90%;
    }

    .profile-card {
        max-width: 90%;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

#profile {
    margin: auto;
}

p {
    text-align: center;
    padding-top: 7px;
}

mat-card.mat-card.mat-focus-indicator {
    width: 400px;
    text-align: center;
    position: inherit;
}
